* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: Verdana, Helvetica, sans-serif;
}

.pageTitle {
    width: 100%;
    background-color: #96FF9D;
    padding: 1%;
}

.pageSubtitle {
    width: 100%;
    background-color: #96FFD1;
    padding: 1%;
    text-align: center;
}

.projectsList {
    margin: 1% 2% 0 1%;
}

.projectListElement {
    padding: 1em 2% 2% 2%;
    list-style-type: none;
    margin: 1em;
    border: 1px solid gray;
    border-radius: 25px;
}

.projectTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1%;
}

.projectDescription {
    font-style: italic;
    font-size: 1.3em;
    margin-bottom: 0.75%
}

.dayTitle {
    margin: 1% 1% 0.5% 1%;
    font-size: 1.3em;
}

.dayDescription {
    margin: 0 1.5% 1% 1.5%;
}

.dayDescription p, ul {
    margin: 0.25em 0 0.25em 0;
    font-size: 1.1em
}

.commitsSection {
    margin-left: 1%;
}

.commitsList {
    list-style-type: none;
    margin-left: 0,5%; 
    display: inline-block;
}

.commitsList li {
    display: inline;
    padding: 5px;
    border: 1px solid #c3ff96;
    border-radius: 15px;
}
