<!DOCTYPE html>
<html>
    <head>
        <title>Home page - JJblog</title>

        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <h1 class="pageTitle">JJBlog</h1>
        <h2 class="pageSubtitle">Welcome to JJblog, a place where you can find the sotry behind the JJProjects</h2>
        <ul class="projectList">
        {% for project in projects%}
            <li class="projectListElement">
                <a href="{{project.blog_url}}"><h1 class="projectTitle">{{project.title}}</h1></a>
                <p class="project.description">{{project.description}}</p>
                {% for url in project.urls %}
                    <a href="{{url.url}}">{{url.name}}</a>
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
