<!DOCTYPE html>
<html>
    <head>
        <title>{{project.title}} - JJBlog</title>

        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>
    <body>
        <h1 class="pageTitle">{{project.title}}</h1>
        <h2 class="pageSubtitle">{{project.description}}</h2>
        {% for day in project.days %}
            <h3 class="dayTitle">Day {{ project.days|length - loop.index0 }}</h3>
            <div class="commitsSection">
            Commits involved today:
            <ul class="commitsList">
                {% for commit in day.commits %}
                    <li>{{ commit }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="dayDescription">
            {% for paragraph in day.paragraphs %}
                <p>{{ paragraph }} </p>
            {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
